@model LNUhelperUp.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

@Html.ValidationSummary(true)
<h1>Зайти у кабінет</h1>




<form asp-action="Login" asp-controller="Auth" asp-anti-forgery="true" style="margin-top:20px;">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group row">
            <label asp-for="Login" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" asp-for="Login" />
                @Html.ValidationMessageFor(model => model.Login)
            </div>
            </div>
        <div class="form-group row">
            <label asp-for="Password" class="col-sm-2 col-form-label">Пароль</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Password" />
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            </div>
        <div class="form-inline justify-content-center" style="margin-top:35px;" align:center>
            <div class="form-group mb-2">
                <input type="submit" value="Увійти" class="btn btn-outline-success" />
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <a asp-action="SignUp" asp-controller="Auth">Реєстрація</a>
            </div>
        </div>
        </div>
</form>