@using Microsoft.AspNetCore.Html
@model LNUhelperUp.Models.ViewModels.RegistrationViewModel
@{
    ViewData["Title"] = "Реєстрація";
}

<h1 style="margin-top:20px">@ViewData["Title"]</h1>

<form asp-action="SignUp" asp-controller="Auth" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div>
            <label asp-for="FacultyId">FacultyId</label><br />
            <input type="text" asp-for="FacultyId" />
            <span asp-validation-for="FacultyId" />
        </div>
        <div>
            <label asp-for="Nickname">Enter Nickname</label><br />
            <input type="text" asp-for="Nickname" />
            <span asp-validation-for="Nickname" />
        </div>
        <div>
            <label asp-for="Login">Enter Email</label><br />
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
        <div>
            <label asp-for="Password">Введіть пароль</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <input type="submit" value="Зареєструватися" />
        </div>
        <button asp-controller="Home" asp-action="Index">Додати фото</button>
        <a class="nav-link text-dark" style="text-align: center" asp-area="" asp-controller="auth" asp-action="Login">Увійти</a>
    </div>
</form>




