<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LNUhelperUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-6">
            <div class="container">
                <div class="navbar-collapse collapse d-flex justify-content-between">
                    <ul class="navbar-nav flex-fill">
                        <li class="nav-item flex-fill" id="faculty_h">
                            <a class="nav-link text-dark" style="text-align: center" asp-area="" asp-controller="faculty" asp-action="GetAllFaculty">Факультети</a>
                        </li>
                        @*<li class="nav-item flex-fill" id="forum_h">
                            <a class="nav-link text-dark" style="text-align: center" asp-area="" asp-controller="forum" asp-action="GetAllQuestions">Форум</a>
                        </li>*@
                        <li class="nav-item flex-fill" id="event_h">
                            <a class="nav-link text-dark" style="text-align: center" asp-area="" asp-controller="event" asp-action="GetAllEvent">Подiï</a>
                        </li>
                        <li class="nav-item flex-fill" id="announcement_h">
                            <a class="nav-link text-dark" style="text-align: center" asp-area="" asp-controller="announcement" asp-action="GetAllAnnouncement">Оголошення</a>
                        </li>
                        <li class="nav-item flex-fill" id="profile_h">
                            <a class="nav-link text-dark" style="text-align: center" asp-area="" asp-controller="profile" asp-action="ShowProfile">Профiль</a>
                        </li>
                        <li class="nav-item flex-fill" id="auth_h">
                            <a class="nav-link text-dark" style="text-align: center" asp-area="" asp-controller="auth" asp-action="Logout">Вийти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="ml-20 mr-20 pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - LNUhelperUp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
