@model LNUhelperUp.DTOs.FacultyDTO
@{
    ViewData["Title"] = "EditFaculty";
}
<h1>Редагувати</h1>


<form asp-action="UpdateFaculty" asp-controller="Faculty">
    <div>
        <div>
            <label asp-for="Name">Name</label><br />
            <input type="text" asp-for="Name" value="@ViewBag.Name" />
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            <input type="submit" value="Редагувати" class="btn btn-outline-dark" />
        </div>
    </div>
</form>