@model IEnumerable<LNUhelperUp.Models.Faculty>
@{
    ViewData["Title"] = "ShowFaculties";
}
<html>
    <head>
        <h1>ShowFaculties</h1>
    </head>
    <body>
        <table>
            <tr>
                <td>Name</td>
                <td></td>
            </tr>
            @foreach(var fac in Model)
            {
                <tr>
                    <td style="text-align: center; font-size: 20px; width: 100%;"><a href="~/Faculty/Add">@fac.Name</a></td>
                </tr>
            }
        </table>
    </body>
</html>



